.settings {
    gap: 60px;
    display: flex;
    margin: 4vw auto; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-section {
    width: 50vw; 
    height: auto; 
    display: flex;
    flex-direction: column;
    background-color: #0a1a2a;
}

.tab-section {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    color: var(--color-white);
}

.tab-section div h1 {
    font-size: 25px;
}

.tab-section form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    margin: 35px 0;
    justify-content: center;
}

.tab-section form div {
    display: flex;
    flex-direction: column;
}

.tab-section form input {
    border: none;
    border-bottom: 2px solid var(--color-white); 
    background-color: transparent; 
    color: var(--color-white); 
    padding: 10px 5px;
    outline: none; 
    width: 100%; 
}

.tab-section form input:focus {
    border-bottom: 2px solid var(--color-primary); 
    transition: border-bottom-color 0.3s ease; 
}

.tab-section form + div {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.tab-section form + div button {
    padding: 10px 20px;
    cursor: pointer;
    color: var(--color-white);
    background-color: transparent;
    border: 1px var(--color-white) solid;
}

@media screen and (max-width: 480px) {
    .settings {
        margin: 6vh 0;
        flex-direction: column;
    }

    .content-section {
        width: 100%;
        height: auto; 
    }

    .tab-section form {
        grid-template-columns: 1fr; 
    }
}
