main {
    display: flex;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
}

.web-path {
    display: flex;
    width: 89vw;
    height: 2.5vw;
    border-bottom: 1px var(--color-blue) solid;
    color: black;
    position: absolute;
    cursor: pointer;
}

.product-cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 89vw;
    height: 30vw;
    border: 1px var(--color-blue) solid;
    margin-top: 5vw;
}

.product-info {
    color: var(--color-blue);
    width: 100%;
    border: 1px var(--color-blue) solid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}

.info {
    height: 3vw;
    width: 100%;
    border: 1px var(--color-blue) solid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.cart-total {
    color: var(--color-blue);
    width: 100%;
    border: 1px var(--color-blue) solid;
    display: grid;
    grid-template-rows: auto;
}

