
.footer {
    display: flex;
    flex-direction: column;
    color: var(--color-blue-100);
}

.footer a {
    color: var(--color-blue-100);
}

.footer .section-1 {
    display: flex;
    padding: 2vh 10vw;
    justify-content: space-between;
    background-color: var(--color-blue-900);
}

.footer .section-1 > div {
    padding: 50px 150px;
}

.footer h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.footer .section-1 .column-1 img {
    width: 170px;
    height: 170px;
}

.footer .section-1 .column-2 p {
    font-size: 18px;
}

.footer .section-1 .column-3 {
    display: flex;
    flex-direction: column;
}

.footer .section-1 .column-3 .social-links {
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.footer .section-1 .column-3 .social-links a {
    margin: 0 15px;
}

.footer .section-1 .column-3 .about-us {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.footer .section-1 .column-3 .about-us span {
    font-size: 18px;
    font-weight: 600;
}

.footer .section-1 .column-3 .about-us svg {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.footer .section-2 {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    background-color: #0a1a2a;
}

.footer .section-2 span {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.footer .section-2 span p {
    margin: 0 5px;
    font-weight: bold;
}
