footer{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 0 0 30px;
}

footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

footer .logo img{
    max-width:280px;
}

footer .logo .text p{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: -2px;
}

footer .logo .text span{
    font-weight: 700;
}

footer .footer-column{
    display: flex;
    flex-flow: column wrap;

}

footer .footer-column h1{
    font-size: 18px;
    color: white;
    font-weight: 600;
}

footer .footer-column a{
    font-size: 15px;
    color: rgb(207, 149, 149);
    text-decoration: none;
    line-height: 40px;
    transition: transform 300ms ease;
}

footer .footer-column a:hover{
    transform: translateX(10px);
}