
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --bg-primary: #112e58;
    --bg-secondary: #214577;
}

.dark {
    background-color: #dae6ff;
}
