:root {

}

body {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    background-color: var(--color-gray-100);
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.light-theme {
    --color-gray-100: #F6FAFF;
    --color-blue-900: #122d57;
}

.container {
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
