:root {
    --color-blue: #122d57;
    --color-gray: #8B8D98;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-blue-100);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

.light-theme {
    --color-blue-100: #F6FAFF;
    --color-blue-900: #122d57;
    --color-blue-400: #25416D;
}

.container {
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
