.navbar a {
    border: none;
    color: var(--color-blue-100);
}

.navbar header {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    background-color: var(--color-blue-900);
    border-bottom: 1px solid #315791;
}

.navbar-header {
    width: 100%;
    display: flex;
    margin: 0 10px;
    padding: 2px 0;
    align-items: center;
}

.navbar-header svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: white;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-search {
    display: none;
}

.navbar-extras {
    display: flex;
    margin-left: auto;
    position: relative;
    align-items: center;
}

.navbar-extras svg {
    margin: 0 10px;
}

.navbar-extras #nav-close {
    display: none;
}

.navbar-extras #nav-dropdown {
    z-index: 20;
    width: 100px;
    height: 120px;
    display: none;
    margin-top: 155px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #0a1a2a;
}

.navbar-extras #nav-dropdown a {
    margin: 8px 0;
    font-size: 16px;
}

@media screen and (max-width: 768px) {

    .navbar nav {
        display: none;
    }

    .show {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    .navbar-header {
        margin: 0 10vw;
        justify-content: space-between;
    }

    .navbar-brand img {
        width: 70px;
        height: 70px;
    }

    .navbar-search {
        display: flex;
        padding: 20px 0;
        align-items: center;
    }

    .navbar-search form {
        display: flex;
        width: 100%;
    }

    .navbar-search form input {
        width: 25vw;
        height: 30px;
        border-radius: 7px;
        outline: none;
        border: 2px var(--color-blue-100) solid;
    }

    .navbar-search form button {
        border: none;
        outline: none;
        border-radius: 7px;
        margin-left: -10px;
        background-color: var(--color-blue-100);
    }

    .navbar-search form button svg {
        color: var(--color-blue-900);
        height: 20px;
    }

    .navbar-extras {
        margin-left: 0;
    }

    .navbar-extras #nav-open,
    .navbar-extras #nav-close {
        display: none;
    }

    .navbar-auth {
        align-items: center;
    }

    .navbar-auth>* {
        height: 30px;
        width: 100px;
        margin: 0 5px;
    }

    .navbar-auth a {
        display: flex;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: var(--color-blue-900);
        background-color: var(--color-blue-100);
    }

    .users-icon {
        display: flex;
    }

    /* Navbar links */
    .navbar nav {
        display: flex;
        padding: 20px 0;
        justify-content: center;
        background-color: var(--color-blue-900);
    }

    .navbar-wrapper {
        display: flex;
        align-items: center;
    }

    .navbar-wrapper a {
        height: 30px;
        width: 120px;
        display: flex;
        margin: 0 20px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: var(--color-blue-900);
        background-color: var(--color-blue-100);
    }

    .show {
        display: flex;
    }

}