
.slider {
    overflow-x: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    
}