
main {
    gap: 20px;
    display: flex;
    padding: 50px 8vw;
}

.categorias {
    gap: 20px;
    height: auto;
    display: flex;
    padding: 20px 15px;
    align-items: center;
    flex-direction: column;
    border: 1px var(--color-blue) solid;
}

.categorias h2 {
    text-align: center;
    color: var(--color-blue);
}

.categorias-lista {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.categorias-lista a {
    color: var(--color-blue);
}

.tienda {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.cabezera {
    display: flex;
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom: 1px var(--color-blue) solid;
}

.filtros {
    font-size: 18px;
    color: var(--color-blue);
}

.paginas {
    font-size: 18px;
    margin-left: auto;
    color: var(--color-blue);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    min-height: 970px;
}

.producto {
    width: 200px;
    height: 290px;
    display: flex;
    margin: 0 15px;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.producto-header {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.producto-header img {
    width: 165px;
    height: 140px;
    border-radius: 15px;
}

.producto-cuerpo {
    gap: 5px;
    display: flex;
    margin: 5px 0;
    text-align: center;
    flex-direction: column;
}

.producto-cuerpo span {
    font-size: 16px;
    color: var(--color-blue);
}

.producto-footer {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

.producto-footer a {
    cursor: pointer;
    font-size: 16px;
    margin-top: 2px;
    padding: 10px 15px;
    border-radius: 7px;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.producto-footer a:hover {
    background-color: #0056b3;
}

.tienda-footer {
    gap: 15px;
    display: flex;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 130px;
}

.tienda-footer a {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-blue);
}

@media screen and (max-width: 1024px) {

    main {
        flex-direction: column;
    }

}